@{
    ViewBag.Title = "Contact";
}

<h3>Contact</h3>

<address>
    Give us a call!
    33 art lane, remurewa, 1064/>
    <abbr title="Phone">P:</abbr>
    0211 67 84 71
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Art@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ArtMarketing@example.com</a>
</address>

<h1>Shop Map</h1>

<img src="~/ImAGES/image_six.jpg" />