@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Give us a call!
    33 art lane, remurewa, 1064/>
    <abbr title="Phone">P:</abbr>
    0211 67 84 71
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Art@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ArtMarketing@example.com</a>
</address>