@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Canvas Collective</h1>
     
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Johannes Vermeer, Girl with a Pearl Earring, 1665</h2>
        <p>
            Johannes Vermeer’s 1665 study of a young woman is startlingly real and startlingly modern, almost as if it were a photograph. This gets into the debate over whether or not Vermeer employed a pre-photographic device called a camera obscura to create the image. Leaving that aside, the sitter is unknown, though it’s been speculated that she might have been Vermeer's maid. He portrays her looking over.
        </p>
        <img src="~/ImAGES/image_three.jpg" width="200px" />
    </div>
    <div class="col-md-4">
        <h2>Vincent van Gogh, The Starry Night, 1889</h2>
        <p>
            Vincent Van Gogh’s most popular painting, The Starry Night was created by Van Gogh at the asylum in Saint-Rémy, where he’d committed himself in 1889. Indeed, The Starry Night seems to reflect his turbulent state of mind at the time, as the night sky comes alive with swirls and orbs of frenetically applied brush marks springing from the yin and yang of his personal demons and awe of nature.
        </p>
        <img src="~/ImAGES/image_two.jpg" width="200px" />
    </div>
    <div class="col-md-4">
        <h1>leonardo da vinci, mona lisa, 1503–19</h1>
       
            painted between 1503 and 1517, da vinci’s alluring portrait has been dogged by two questions since the day it was made: who’s the subject and why is she smiling? a number of theories for the former have been proffered over the years: that she’s the wife of the florentine merchant francesco di bartolomeo del giocondo (ergo, the work’s alternative title, la gioconda); that she's leonardo’s mother. </p>
            <img src="~/images/image_one.png" width="200px" />
        </div>
    </div>
